.outer {
  position: relative;
  left: 13%;
  top: 13%;
  width: 55px;
  height: 55px;
  border: 2px solid;
  border-radius: 45%;
}

.outer.black {
  border-color: white;
}

.outer.white {
  border-color: black;
}

.bishop {
  position: relative;
  width: 18px;
  height: 18px;
  border: 18px solid;
  border-radius: 45%;
}

.bishop.black {
  border-color: #898989 #2A2A2A #090909 black;
}

.bishop.white {
  border-color: #ECECEC #D6D6D6 #A8A8A8 white;
}
