.king>.stage {
  top: 0%;
  left: 0%;
  z-index: 4;
}

.king>.stage>.ball {
  top: 18%;
  left: 18%;
  width: 55%;
  height: 55%;
}

.king{
  display: block;
	position: relative;
	width: 80px;
	height: 80px;
}
.king *, .king *:before, .king *:after{
	position: absolute;
}

.rings{
  top: 10%;
  left: 10%;
	z-index: 1;
}
.rings div:before, .rings div:after{
	content: "";
	z-index: 2;
	top: 0;
	left: 0;
	height: inherit;
	width: inherit;
	background: inherit;
}
.rings div:before{
	transform: rotate(60deg);
}
.rings div:after{
	transform: rotate(-60deg);
}
.rings div:nth-child(even){
	animation: rotateR 6s infinite linear;
}
.rings div:nth-child(odd){
	animation: rotateL 6s infinite linear;
	transform: rotate(15deg);
}
.rings div:nth-child(1){
	animation-duration: 23s;
	width: 60px;
	height: 60px;
}
.rings div:nth-child(2){
	animation-duration: 25s;
	width: 58px;
	height: 58px;
}
.rings div:nth-child(3){
	animation-duration: 28s;
	width: 56px;
	height: 56px;
}

.rings.black div:nth-child(3){
	background: #090909;
}
.rings.black div:nth-child(2){
	background: #2A2A2A;
}
.rings.black div:nth-child(1){
	background: #898989;
}

.rings.white div:nth-child(3){
	background: #ECECEC;
}
.rings.white div:nth-child(2){
	background: #D6D6D6;
}
.rings.white div:nth-child(1){
	background: #A8A8A8;
}

/*.rings div:nth-child(1){
	animation-duration: 93s;
	background: rgba(255, 90, 0, 0.5);
	width: 58px;
	height: 58px;
}*/

@-webkit-keyframes rotateR{
	from{
		-webkit-transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes rotateR{
	from{
		-moz-transform: rotate(0deg);
	}
	to{
		-moz-transform: rotate(360deg);
	}
}
@-ms-keyframes rotateR{
	from{
		-ms-transform: rotate(0deg);
	}
	to{
		-ms-transform: rotate(360deg);
	}
}
@-o-keygrames rotateR{
	from{
		-o-transform: rotate(0deg);
	}
	to{
		-o-transform: rotate(360deg);
	}
}
@keyframes rotateR{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
@-webkit-keyframes rotateL{
	from{
		-webkit-transform: rotate(360deg);
	}
	to{
		-webkit-transform: rotate(0deg);
	}
}
@-moz-keyframes rotateL{
	from{
		-moz-transform: rotate(360deg);
	}
	to{
		-webkit-transform: rotate(0deg);
	}
}
@-ms-keyframes rotateL{
	from{
		-ms-transform: rotate(360deg);
	}
	to{
		-ms-transform: rotate(0deg);
	}
}
@-o-keyframes rotateL{
	from{
		-o-transform: rotate(360deg);
	}
	to{
		-o-transform: rotate(0deg)
	}
}
@keyframes rotateL{
	from{
		transform: rotate(360deg);
	}
	to{
		transform: rotate(0deg);
	}
}
