.ball {
  display: inline-block;
  width: 55%;
  height: 55%;
  margin: 0;
  top: 23%;
  border-radius: 50%;
  position: relative;
}

.black {
  background: radial-gradient(circle at 50% 120%,  #323232, #0a0a0a 80%, #000000 100%);
}

.white {
  background: radial-gradient(circle at 50% 120%,  #323232, #F5F5F5 80%, #FFFFFF 100%);
}

.black:before {
  background: radial-gradient(circle at 50% 120%,  rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
}
.white:before {
  background: radial-gradient(circle at 50% 120%,  rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 70%);
}

.ball:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  bottom: 2.5%;
  left: 5%;
  opacity: 0.6;
  height: 100%;
  width: 90%;
  -webkit-filter: blur(5px);
  z-index: 2;
}

.black:after {
  background: radial-gradient(circle at 50% 50%,  rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
}
.white:after {
  background: radial-gradient(circle at 50% 50%,  rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) 14%, rgba(0, 0, 0, 0) 24%);
}

.ball:after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 5%;
  left: 10%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%,  rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
  -webkit-transform: translateX(-82px) translateY(-126px) skewX(-20deg);
  -moz-transform: translateX(-82px) translateY(-126px) skewX(-20deg);
  -ms-transform: translateX(-82px) translateY(-126px) skewX(-20deg);
  -o-transform: translateX(-82px) translateY(-126px) skewX(-20deg);
  transform: translateX(-109px) translateY(-126px) skewX(-20deg);
  -webkit-filter: blur(10px);
}

.ball .shadow {
position: absolute;
left: -10%;
width: 125%;
height: 125%;
background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 45%, rgba(0, 0, 0, 0) 80%);
z-index: -1;
}
.stage {
  overflow: hidden;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
